* {
    margin: none;
    padding: none;
}

.bodyContainer {
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: top;
    width: 100%;
    height: calc(100% - 80px);
}

.textContent {
    width: 45%;
    height: fit-content;
    background: none;
}

.textContent p {
    color: gray;
    font-size: 30px;
    font-family: arial;
    background: none;
}

.imageContainer {
    background: none;
    width: 45%;
    height: 70%;
}

.imageContainer img {
    width: 100%;
    height: fit-content;
    pointer-events: none;
}

.imageContainer p {
    width: 100%;
    height: 25px;
    background: none;
    text-align: center;
    font-family: arial;
    font-size: 20px;
    color: gray;
}

@media(orientation:portrait) {
    .bodyContainer {
        flex-direction: column;
    }

    .textContent {
        width: 90%;
        margin: auto;
    }

    .imageContainer {
        width: 90%;
        margin: auto;
    }
}