* {
    margin: none;
    padding: none;
}

.bodyContainer {
    background: none;
    width: 100%;
    height: calc(100% - 80px);
}

.textContent {
    margin: 0 auto;
    width: 95%;
    height: fit-content;
    background: none;
}

.textContent h1 {
    color: gray;
    font-size: 40px;
    font-family: arial;
    background: none;
}

.textContent p {
    color: gray;
    font-size: 30px;
    font-family: arial;
    background: none;
}

.formContainer {
    margin: 0 auto;
    width: 95%;
    height: fit-content;
    background: none;
}

.checkoutForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

.checkoutForm input[type="email"],
.checkoutForm input[type="tel"],
.checkoutForm input[type="text"] {
    width: 60%;
    min-width: 200px;
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 5px;
}

.checkoutForm input[type="email"]:focus,
.checkoutForm input[type="tel"]:focus,
.checkoutForm input[type="text"]:focus {
    outline: none;
}

.recaptchaAndSubmitBtnContainer {
    width: calc(60% + 10px);
    min-width: 200px;
    background: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recaptchaContainer {
    width: 200px;
    height: 50px;
    background-color: red;
    position: relative;
}

.recaptchaContainer img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    z-index: 1;
}

.recaptchaContainer input[type="checkbox"] {
    position: absolute;
    top: 13px;
    left: 6px;
    width: 200px;
    z-index: 2;
    width: 18px;
    height: 18px;
}

.checkoutForm input[type="submit"] {
    cursor: pointer;
    background-color: blue;
    appearance: none;
    width: 80px;
    height: 30px;
    color: white;
    font-size: 20px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 2px;
}

@media(orientation:portrait) {
    .bodyContainer {
        display: block;
    }

    .textContent {
        width: 90%;
        margin: auto;
    }
}